 <div class="list-group-item d-flex ps-0" style="cursor: default;">
    <div class="icon px-3 align-self-center opacity-75">
        <i class="@GetIcon() fa-lg" />
    </div>
    <div>
        <h6 class="mb-0"><Markdown Value="@Description" /></h6>
        <small class="text-muted">@User on @Timestamp.ToLocalTime().</small>
    </div>
    <div class="buttons ms-auto">
        @ChildContent
    </div>
</div>


