@page "/"

<PageTitle>Archie - Home</PageTitle>

<header>
    <div class="container-fluid">
        <Breadcrumbs>
            <Breadcrumb>Home</Breadcrumb>
        </Breadcrumbs>

        <h3>Hello, world!</h3>
    </div>
</header>

<hr />

<section class="container-fluid">
    Welcome to your new app.
</section>
