@page "/"

<PageTitle>Archie - Home</PageTitle>

<PageTemplate>
    <HeaderContent>
         <Breadcrumbs>
            <Breadcrumb>Home</Breadcrumb>
        </Breadcrumbs>

        <h4 class="mb-0">Hello, world!</h4>
    </HeaderContent>
    <ChildContent>
        Welcome to your new app.
    </ChildContent>
</PageTemplate>
