<div class="container ms-3">
    @if (HeaderContent != null)
    {
        <header>
            @HeaderContent
        </header>

        <hr />
    }

    <section> 
        @ChildContent
    </section>
</div>

@code {

    [Parameter] public RenderFragment? HeaderContent { get; set; }
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;
}
