<PageTitle>Archie - @Title</PageTitle>

<section class="container-fluid">
    <header>
        @if (BreadcrumbContent != null)
        {
            <Breadcrumbs>
                @BreadcrumbContent
            </Breadcrumbs>
        }
        
        <PageHeader Title="@Title" Icon="@Icon">
            <HeaderButtons>
                @HeaderButtons
            </HeaderButtons>
        </PageHeader>
    </header>

    <hr />

    <section> 
        @MainContent
    </section>
</section>


@code {

    [Parameter, EditorRequired] public string Title { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string Icon { get; set; } = string.Empty;
    [Parameter, EditorRequired] public RenderFragment MainContent { get; set; } = default!;
    
    [Parameter] public RenderFragment? BreadcrumbContent { get; set; }
    [Parameter] public RenderFragment? HeaderButtons { get; set; }
    
}
