<div class="page-header @Class">
    <h4>
        <HeaderIcon Icon="@Icon" />
        <span class="ms-2">@Title</span>
    </h4>
    <div>
        @HeaderButtons
    </div>
</div>

@code {

    [Parameter, EditorRequired] public string Icon { get; set; } = string.Empty;
    [Parameter, EditorRequired] public string Title { get; set; } = string.Empty;

    [Parameter] public string Class { get; set; } = "my-3";
    [Parameter] public RenderFragment? HeaderButtons { get; set; }

}