.buttons {
    align-self: center;

}

.audit-icon {
    position: absolute;
    top: 100%;
    left: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    height: 1.25rem;
    width: 1.25rem;
}

    .audit-icon.bg-success {
        background-color: #22c55e!important;
    }

::deep .buttons > .btn:not(:first-child) {
    margin-left: 0.3rem;
}