@page "/recent-activity"

@if (Activity == null)
{
    <Loading />
}
else
{
    <AuditTrail>
        @foreach (var audit in Activity)
        {
            <AuditItem AuditType="audit.AuditType"
                       Description="@audit.Description"
                       EventType="audit.EventType"
                       Timestamp="audit.Timestamp"
                       User="@audit.User.FullName">
            
                    @foreach (var customer in audit.RelatedCustomers)
                    {
                        <a href="customers/@customer.Id" target="_blank" class="btn btn-sm btn-outline-primary">
                            <i class="fas fa-external-link" /> <span>@customer.CompanyName</span>
                        </a>
                    }
                    @foreach (var workOrder in audit.RelatedWorkOrders)
                    {
                        <a href="work-orders/@workOrder.Id" target="_blank" class="btn btn-sm btn-outline-primary">
                            <i class="fas fa-external-link" /> <span class="font-monospace">@workOrder.ReferenceNumber</span>
                        </a>
                    }

            </AuditItem>
        }
    </AuditTrail>
}