@page "/customers"

<header class="d-flex justify-content-between align-items-center">
    <h3>Customer Search</h3>
    <button class="btn btn-success btn-sm" @onclick="LaunchCreateDialog">New Customer</button>
</header>
