@page "/customers"

@if (Customers == null)
{
    <Loading />
}
else
{
    <PageTemplate Title="Customer Search" Icon="fa-solid fa-building">
        <BreadcrumbContent>
            <Breadcrumb><a href="/">Home</a></Breadcrumb>
            <Breadcrumb>Customers</Breadcrumb>
        </BreadcrumbContent>
        <HeaderButtons>
            <button class="btn btn-primary btn-sm" @onclick="LaunchCreateDialog">New Customer</button>
        </HeaderButtons>
        <MainContent>
            @if (!Customers.Any())
            {
                <p>None found.</p>
            }
            else
            {
                <div class="list-group">
                    @foreach (var customer in Customers)
                    {
                        <a href="customers/@customer.Id" class="list-group-item list-group-item-action">
                            <h5 class="mb-1">@customer.CompanyName</h5>
                            <small>@customer.Location</small>
                        </a>
                    }
                </div>
            }
        </MainContent>
    </PageTemplate>
}
