@inherits LayoutComponentBase

<div class="page">
        
    <Sidebar />

    <main>
        <NavMenu />
        <section class="container-fluid">
            @Body
        </section>
    </main>
</div>
