@page "/work-orders"

@if (WorkOrders == null)
{
    <Loading />
}
else
{
    <PageTemplate Title="Work Orders" Icon="fa-solid fa-file">        
        <BreadcrumbContent>
            <Breadcrumb><a href="/">Home</a></Breadcrumb>
            <Breadcrumb>Work Orders</Breadcrumb>
        </BreadcrumbContent>
        <HeaderButtons>
            <button class="btn btn-primary btn-sm" @onclick="LaunchCreateDialog">New Work Order</button>
        </HeaderButtons>
        <MainContent>
            @if (!WorkOrders.Any())
            {
                <p>None found.</p>
            }
            else
            {
                <div class="list-group">
                    @foreach (var workOrder in WorkOrders)
                    {
                        <a href="work-orders/@workOrder.Id" class="list-group-item list-group-item-action d-flex align-items-center">
                            <WorkOrderStatusBadge Status="@workOrder.Status" />
                            <div class="ms-3">
                                <h6 class="mb-0 text-primary">@workOrder.Customer.CompanyName</h6>
                                <small class="text-muted">
                                    <WorkOrderReferenceNumber Value="@workOrder.ReferenceNumber" />
                                </small>
                            </div>
                        </a>
                    }
                </div>
            }
        </MainContent>
    </PageTemplate>
}