@page "/work-orders/{Id:long}"

@if (WorkOrder == null)
{
    <section class="container-fluid">
        <Loading />
    </section>
}
else
{
    <PageTemplate Title="Work Order Details" Icon="fa-solid fa-file">
            <BreadcrumbContent>
                <Breadcrumb><a href="/">Home</a></Breadcrumb>
                <Breadcrumb><a href="work-orders">Work Orders</a></Breadcrumb>
                <Breadcrumb>Details</Breadcrumb>
            </BreadcrumbContent>
            <HeaderButtons>                
                <button class="btn btn-primary btn-sm" disabled>Edit Work Order</button>
            </HeaderButtons>
        <MainContent>
            <p>details!</p>
        </MainContent>
    </PageTemplate>
}
