<h6>Audit Trail</h6>

@if (AuditTrail == null)
{
    <Loading />
}
else
{
    <AuditTrail>
        @foreach (var audit in AuditTrail)
        {
            <AuditItem AuditType="audit.AuditType"
                       Description="@audit.Description"
                       EventType="audit.EventType"
                       Timestamp="audit.Timestamp"
                       User="@audit.User.FullName" />
        }
    </AuditTrail>
}